main{
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 0;
}

main > article >  div {
    margin: 1em;
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; /* Évite que les formes dépassent */
    background: none; /* Important pour voir les pseudo-éléments */
    margin: 2em;
    z-index: -3;
}

.box::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; /* Derrière le ::before */
    background-color: #0a1628;
    clip-path: polygon(97% 1%, 99.5% 20%, 99.5% 99%, 3.5% 99%, 0.5% 80%, 0.5% 1%);

}
.box::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0; /*  Derrière le ::before */
    background-color: #0080ff;
    clip-path: polygon(97.4% 0, 100% 20%, 100% 100%, 3% 100%, 0 80%, 0 0);
}

.box h3{
    position: relative; /* S’assure que le texte est au-dessus du clip */
    z-index: 10;
    color: white;
    margin-left: 2em;
    margin-top: 1em;
}

.box p{
    position: relative; /* S’assure que le texte est au-dessus du clip */
    z-index: 10;
    color: white;
    margin-left: 2em;
    margin-top: 1em;
}

.image{
    position: relative;
    width: 27%;
    Z-index: 10;
    margin: 2em;

}


