main > article {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; /* Évite que les formes dépassent */
    background: none; /* Important pour voir les pseudo-éléments */
    margin: 2em;
    z-index: -3;
}

main > article::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; /* Derrière le ::before */
    background-color: #0a1628;
    clip-path: polygon(97% 2%, 99.5% 20%, 99.5% 97%, 3.5% 98%, 0.5% 80%, 0.5% 2%);
}
main > article::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0; /*  Derrière le ::before */
    background-color: #0080ff;
    clip-path: polygon(97% 0, 100% 20%, 100% 100%, 3% 100%, 0 80%, 0 0);
}
main h3, main p, main a {
    position: relative; /* S’assure que le texte est au-dessus du clip */
    z-index: 10;
    color: white;
    margin: 2em;
}
#imageHotel