footer {
    display: flex;
    width: 100%;
    background-color: #ff6b00;
    flex-direction: column;
}

footer > div {
    display: flex;
    justify-content: center;
    padding: 2em;
}

#logoFooter {
    display: block;
    width: 40%;
}

footer > article {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden; /* Évite que les formes dépassent */
    background: none; /* Important pour voir les pseudo-éléments */
    margin: 2em;
}

footer > article::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; /* Derrière le ::before */
    background-color: #0a1628;
    clip-path: polygon(97% 2%, 99.5% 20%, 99.5% 97%, 3.5% 98%, 0.5% 80%, 0.5% 2%);
}
footer > article::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0; /*  Derrière le ::before */
    background-color: #0080ff;
    clip-path: polygon(97% 0, 100% 20%, 100% 100%, 3% 100%, 0 80%, 0 0);
}


footer > article > div {
    margin: 2em;
}



footer h3 {
    padding-bottom: 1em;
}

#InfosFooter {
    padding: 1em;
}

#ContactFooter {
    padding: 1em;
}

#ContactFooter > div {
    display:flex;
    gap: 1em;
}

#ContactFooter > div > a {
    width: 32px;
}

#ContactFooter img {
    display: block;
    width: 100%;
}

#CopyFooter {
    padding: 1em;
}


footer h3, footer p, footer a {
    position: relative; /* S’assure que le texte est au-dessus du clip */
    z-index: 10;
    color: white;
}