@font-face {
  font-family: myFont;
  src: url(../font/ALTRONED_Trial.otf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "myFont", "Arial", "sans-serif";
}

a:visited {
  text-decoration: none;
}

body {background-color:#0d0d1a ;}