/* ----------------TOOL BOX ---------------- */
@font-face {
  font-family: myFont;
  src: url(../font/ALTRONED_Trial.otf);
}

@font-face {
  font-family: textMain;
  src: url(../font/Roboto.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-margin-top: 5em;
}

a:visited {
  text-decoration: none;
}


body {
  display: flex;
  flex-direction: column;
  background-color:#0d0d1a ;
  min-height: 100vh;
}
/* ----------------TOOL BOX ---------------- */


/* ----------------- HEADER ----------------- */

header {
    top:0 ;
    position: sticky;
    padding-top: 1em ;
    padding-left: 0.5em;
    display: flex;
    white-space:nowrap ;
    z-index: 1;
    font-family: "myFont", "Arial", "sans-serif";
}

/* NavBar */

#LogoSite {
    display: block;
    width: 80%;
}

nav {
    height: 4em;
    width: 65%;
    display: flex;
    align-items: stretch;  
    justify-content: space-around;
}

.menu {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

nav a {
    color: aquamarine;
}

/* Effet cascade avec délai progressif */


/*  element réutilisables */
.boxType {
background-color: transparent;
}

.boxType::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.boxType::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Derrière le ::before */
    pointer-events: none;


}

/* fin box base */





/* custom box menu nav */
.menu::before {
    background-color: #1a2840;
    clip-path: polygon(1% 2%, 95% 2%, 95% 20%, 99% 30%, 99% 70%, 95% 80%, 95% 98%, 1% 98%, 1% 80%, 5% 70%, 5% 30%, 1% 20%);
}

.menu::after {
    background: #0080ff; /* Couleur de la bordure */
    clip-path: polygon(0 0, 96% 0, 96% 20%, 100% 30%, 100% 70%, 96% 80%, 96% 100%, 0 100%, 0 80%, 4% 70%, 4% 30%, 0 20%);
}

.menu:hover::before {
    background-color: #0a1628;
}

.menu:hover::after {
    background-color: #00d9ff;
}


.menu:nth-child(2) {
    left: -2px;
}
.menu:nth-child(3) {
    left: -4px;
}
.menu:nth-child(4) {
    left: -6px;
}
.menu:nth-child(5) {
    left: -8px;
}


.menu:nth-child(1)::before {
    background-color: #0a1628;
    clip-path: polygon(95% 2%, 95% 20%, 99% 30%, 99% 70%, 95% 80%, 95% 98%, 10% 96%, 1% 70%, 1% 2%);
}

.menu:nth-child(5)::before {
    clip-path: polygon(1% 2%, 99% 2%, 99% 70%, 90% 97%, 1% 97%, 1% 80%, 5% 70%, 5% 30%, 1% 20%);
}


.menu:nth-child(1)::after {
    clip-path: polygon(96% 0, 96% 20%, 100% 30%, 100% 70%, 96% 80%, 96% 100%, 10% 100%, 0 70%, 0 0);
}

.menu:nth-child(5)::after {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 80%, 4% 70%, 4% 30%, 0 20%);
}

/* fin custom box menu nav */

/* custom box sous menu nav */

.sousMenu {
    position: absolute;
    padding-top: 2px;
    top: 100%;
    width: 100%;
    left: 0;
    display: none;
}

.sousMenuElement {
    height: 2.5em;
    opacity: 0;
    transform: translateX(-30px);
    margin-bottom: 8px;
}

.sousMenuElement::before {
    background-color: #1a2840;
    clip-path: polygon(6% 98%, 1% 98%, 1% 4%, 99% 4%, 99% 63%, 91% 96%, 15% 96%, 15% 90%, 6% 90%);
}

.sousMenuElement::after {
    background-color: #642c5d;
    clip-path: polygon(7% 100%, 0 100%, 0 0, 100% 0, 100% 65%, 92% 100%, 14% 100%, 14% 92%, 7% 92%);
}

.sousMenuElement:hover::before {
    background-color: #0a1628;
}

.sousMenuElement:hover::after {
    background-color: #ff0080;
}

/* fin custom box sous menu nav */

/* elemnts des sous menu */

.sousMenuElement > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 75%;
}

nav > div:hover .sousMenu {
    display: block;
}

nav > div:hover .sousMenuElement {
    animation: slideIn 0.4s forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav > div:hover .sousMenuElement:nth-child(1) {
    animation-delay: 0s;
}

nav > div:hover .sousMenuElement:nth-child(2) {
    animation-delay: 0.08s;
}

nav > div:hover .sousMenuElement:nth-child(3) {
    animation-delay: 0.16s;
}

nav > div:hover .sousMenuElement:nth-child(4) {
    animation-delay: 0.24s;
}

nav > div:hover .sousMenuElement:nth-child(5) {
    animation-delay: 0.32s;
}

nav > div:hover .sousMenuElement:nth-child(6) {
    animation-delay: 0.40s;
}

/* --------------------------FIN HEADER -------------------------- */



/* ---------------------------- FOOTER -------------------------- */

footer {
    display: flex;
    width: 100%;
    background-color: #ff6b00;
    flex-direction: column;
    font-family: "myFont", "Arial", "sans-serif";

}

footer > div {
    display: flex;
    justify-content: center;
    padding: 2em;
}

#logoFooter {
    display: block;
    width: 40%;
}

#footer {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    z-index: 0;
    margin: 2em;
}

#footer::before {
    background-color: #0a1628;
    clip-path: polygon(97% 2%, 99.5% 20%, 99.5% 97%, 3.5% 98%, 0.5% 80%, 0.5% 2%);
}
#footer::after {
    background-color: #0080ff;
    clip-path: polygon(97% 0, 100% 20%, 100% 100%, 3% 100%, 0 80%, 0 0);
}

#footer > div {
    margin: 2em;
    padding: 1em;
}

#footer h3 {
    padding-bottom: 1em;
}

#ContactFooter > div {
    display:flex;
    gap: 1em;
}

#ContactFooter > div > a {
    width: 32px;
}

#ContactFooter img {
    display: block;
    width: 100%;
}

#CopyFooter {
    padding: 1em;
}

#footer h3, #footer p, #footer a {
    position: relative; /* S’assure que le texte est au-dessus du clip */
    z-index: 10;
    color: white;
}

/* ------------------------- FIN FOOTER -------------------------- */



/* ----------------------- MAIN  ---------------------------- */

main {
    margin: 5em;
    flex: 1;
    font-family: "textMain", "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
    gap: 10em;
}

#titlePage  {
    min-height: 100vh;
}

.section {
    display: flex;
    position: relative;
    flex-direction: column;
    color: aliceblue;
    z-index: 0;
    gap: 5em;
}

.separateur {
    display: block;
    position: relative;
    width: 30%;
    height: auto;
    margin: 0 auto;
}

h2 {
    font-size: 100px;
    text-align: center;
    font-family: "textMain", "Arial", "sans-serif";
    letter-spacing:10px;
}

#t1 {
    text-shadow: 0px 0px 13px #ff3300, 0px 0px 23px #ff3300, 0px 0px 38px #ff3300;
}

#t2 {
    text-shadow: 0px 0px 13px #704596, 0px 0px 23px #704596, 0px 0px 38px #704596;
}

#t3 {
    text-shadow: 0px 0px 13px #00d9ff, 0px 0px 23px #00d9ff, 0px 0px 38px #00d9ff;
}

#t4 {
    text-shadow: 0px 0px 13px #FFD700, 0px 0px 23px #FFD700, 0px 0px 38px #FFD700;
}


/* -----------------------------------------------------------------Section 1--------------------- */

/* Section 1 : élément communs */

.artSec1 {
    display: flex;
    position: relative;
    align-items: center;
}

#art1Sec1 {
        flex-direction: column;
}

#art1Sec2,
#art1Sec3 {
        flex-direction: row;
}

.artSec1::before {
    background-color: #0a1628;
    clip-path: polygon(97% 2%, 99.5% 20%, 99.5% 97%, 3.5% 98%, 0.5% 80%, 0.5% 2%);
}
.artSec1::after {
    background-color: #ff3300;
    clip-path: polygon(97% 0, 100% 20%, 100% 100%, 3% 100%, 0 80%, 0 0);
}

.S1artTextDiv {
    display: flex;
    flex-direction: column;
    margin: 2em;
    line-height: 1.5;
}

.S1artImagesDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em;
    width: 100%;
}


/* --- Article 1 --- */

.imgsart1 {
    display: block;
    width: 30%;
    height: 15%;
    clip-path: polygon(90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%, 0 0);   
}

/* --- Article 2 & 3--- */

#imgart2,
#imgart3 {
    margin: 2em;
    display: block;
    width: 20%;
    height: 15%;
    clip-path: polygon(80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%, 0 0);   
}


/* -----------------------------------------------------------------Section 2--------------------- */

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    margin: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 25%;
    height: auto;
}

.card::before {
    background-color: #0a1628;
    clip-path: polygon(97% 2%, 99.5% 20%, 99.5% 97%, 3.5% 98%, 0.5% 80%, 0.5% 2%);
}

.card::after {
    background-color: #2d1b3d;
    clip-path: polygon(97% 0, 100% 20%, 100% 100%, 3% 100%, 0 80%, 0 0);
}

/* la class portrait et les id pnj sont les meme éléments (div pour l'image) */
.portrait {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 1em;
}
.portrait::before {
    clip-path: polygon(12% 6%, 80% 6%, 83% 6%, 88% 6%, 91% 9%, 91% 21%, 95% 24%, 95% 46%, 91% 49%, 91% 67%, 95% 70%, 95% 80%, 91% 83%, 91% 91%, 88% 94%, 83% 94%, 80% 97%, 20% 97%, 17% 94%, 12% 94%, 9% 91%, 9% 83%, 5% 80%, 5% 70%, 9% 67%, 9% 49%, 5% 46%, 5% 24%, 9% 21%, 9% 9%);
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

#pnj1::before {
    background-image: url("../images/pnj1.png");
}

#pnj2::before {
    background-image: url("../images/pnj2.png");
}

#pnj3::before {
    background-image: url("../images/pnj3.png");
}

#pnj4::before {
    background-image: url("../images/pnj4.png");
}

#pnj5::before {
    background-image: url("../images/pnj5.png");
}

#pnj6::before {
    background-image: url("../images/pnj6.png");
}

.portrait::after {
    background: #ff006e; /* Couleur de la bordure */
    clip-path: polygon(10% 3%, 82% 3%, 86% 3%, 92% 3%, 95% 6%, 95% 23%, 100% 26%, 100% 47%, 95% 50%, 95% 68%, 100% 71%, 100% 82%, 95% 85%, 95% 93%, 92% 97%, 85% 97%, 82% 100%, 18% 100%, 15% 97%, 8% 97%, 5% 93%, 5% 85%, 0% 82%, 0% 71%, 5% 68%, 5% 50%, 0% 47%, 0% 26%, 5% 23%, 5% 6%);
    z-index: 1;
}

.textDivCard {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 1em;
    margin: 2em;
}

.textDivCard >  h3 {
    font-size: 28px;
}
.textDivCard >  blockquote {
    font-style: italic;
}
.textDivCard >  p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

/* -----------------------------------------------------------------Section 2--------------------- */

/* Section 1 : élément communs */

#section3 {
    flex-direction: column;
}

.artSec3 {
    display: flex;
    position: relative;
    align-items: center;
}

.artSec3::before {
    background-color: #0a1628;
    clip-path: polygon(97% 2%, 99.5% 20%, 99.5% 97%, 3.5% 98%, 0.5% 80%, 0.5% 2%);
}
.artSec3::after {
    background-color: #00d9ff;
    clip-path: polygon(97% 0, 100% 20%, 100% 100%, 3% 100%, 0 80%, 0 0);
}

.S3artTextDiv {
    display: flex;
    flex-direction: column;
    margin: 2em;
    line-height: 1.5;
}


/* --- Article 6 à 10-- */

#imgart4,
#imgart5,
#imgart6,
#imgart7,
#imgart8 {
    margin: 2em;
    display: block;
    width: 20%;
    height: 15%;
    clip-path: polygon(80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%, 0 0);   
}





/* ------------------------ FIN MAIN------------------------- */



/* text home glitch, code source : https://www.codingnepalweb.com/text-glitch-effect-html-css/ */
#titlePage{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10em;
}
#titlePage #texth1{
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 5vw;
  transform: scale(2);
  padding: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "myFont";
}
#titlePage #texth1:before,
#titlePage #texth1:after {
  padding: 30px;
  color: white;
  content: attr(data-text); 
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  top: 0;
}
#titlePage #texth1:before{
  left: 3px;
  text-shadow: -2px 0 #ff0030;
  animation: glitch-1 2s linear infinite reverse;
}
#titlePage #texth1:after{
  left: -3px;
  text-shadow: -2px 0 #00d9ff;
  animation: glitch-2 2s linear infinite reverse;
}
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}